@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

/* Light Mode */
body {
  @apply bg-primaryLight text-black;
 
}
/* Dark Mode */
.dark body {
  @apply bg-black text-white;
    font-family: 'Inter', sans-serif;

}

.Toastify__progress-bar--success {
  background: #22c55e !important; /* أخضر فاتح */
}

/* error */
.Toastify__progress-bar--error {
  background: #ef4444 !important; /* أحمر */
}

/* info */
.Toastify__progress-bar--info {
  background: #3b82f6 !important; /* أزرق */
}

/* warning */
.Toastify__progress-bar--warning {
  background: #f59e0b !important; /* برتقالي */
}
